@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Source+Sans+Pro:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
html{
    scroll-padding-top: 90px;
    scroll-behavior: smooth;
}
/* Nav Bar */
#nav{
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#nav .header{
    min-height: 8vh;
    background-color: grey;
    transition: .3s ease background-color;
}
#nav .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#nav p{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: .4rem;
}
#nav p .C1{
    color: rgb(130, 205, 252);
}
#nav p .C2{
    color: rgb(233, 127, 5);
}
#nav .list{
    margin-right: 10px;
}
#nav .list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30,30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}
#nav .list ul.active{
    left: 0;
}
#nav .list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#nav .list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 12rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#nav .list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#nav .list ul li:hover a{
    color: rgba(62, 196, 223, 0.795);
}
#nav .hamburguesa{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    cursor: pointer;
    transform: scale(.8);
    margin: 10px 20px;
}
#nav .hamburguesa::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: pulsos_hamburguesa 1s ease infinite;
}
#nav .hamburguesa .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#nav .hamburguesa .bar::after,
#nav .hamburguesa .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}
#nav .hamburguesa .bar::after{
    top: 8px;
}
#nav .hamburguesa .bar::before{
    bottom: 8px;
}
#nav .hamburguesa.active .bar::after{
    top: 0;
}
#nav .hamburguesa.active .bar::before{
    bottom: 0;
}
/* Fin Nav Bar */
/* Quienes Somos */
#nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}
#nosotros h1{
    margin: 20px 0;
    font-size: 2.5rem;
    font-weight: 400;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}
#nosotros h1::before{
    content: '';
    position: absolute;
    width: 8.7em;
    height: .3em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
    background: lightblue;
}
#nosotros p{
    font-size: 22px;
    width: 80vw;
    padding: 20px 20px;
}
/* Fin Quienes Somos */
/* Productos */
#productos{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
#productos h2{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    display: inline-block;
}
#productos h2 span{
    color: rgb(233, 127, 5);
    font-weight: 400;
}
#productos .producto{
    margin-left: 10%;
    position: relative;
    width: 80%;
    height: 400px;
}
#productos .producto img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#productos .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 67, 77, 0.548);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 20px;
}
#productos .overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
#productos .overlay:hover{
    opacity: 1;
}
#productos .overlay:hover > *{
    transform: translateY(0);
}
#productos .overlay a{
    color: white;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.3rem;
}
/* Fin Productos */
/* Inicio Formulario */
#formulario .contenedor-formulario {
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em;
}
#formulario label {
    color: #2d7d98;
    font-weight: bold;
    display: block;
    margin: 5px 0;
    font-size: 1.2em;
}
#formulario input[type=text] {
    border: 1px solid #707070;
    width: 100%;
    padding: 1em;
    border-radius: .8em;
    box-sizing: border-box;
}
#formulario .contenedor-formulario p {
    color: gray;
    font-weight: normal;
    font-size: .9em;
    margin: .5em 0 1.3em;
}
#formulario input[type=button] {
    background-color: #f89104;
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
    margin-top: 10px;
}
#formulario input[type=button]:hover {
    background-color: #e28400;
    font-weight: normal;
}
/* Fin Formulario */
@media (min-width: 760px) {
    #productos .producto{
        margin-left: 0;
        display: inline-block;
        width: 40%;
        align-items: center;
        justify-content: space-between;
    }
    #formulario{
        width: 80%;
        margin-left: 10%;
    }
}
@media (min-width: 1200px) {
    html{
        scroll-padding-top: 60px;
    }
    #nav .hamburguesa{
        display: none;
    }
    #nav .list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #nav .list ul li{
        display: inline-block;
    }
    #nav .list ul li a{
        font-size: 2rem;
    }
    #nav .list ul a::after{
        display: none;
    }
    #productos .producto{
        width: 30%;
    }
}
@keyframes pulsos_hamburguesa{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.3);
    }
}